@import "../abstract/variables.scss";

.title{
    font-size:1.8rem;
    letter-spacing: 1rem;
    color: $White;
    margin:unset;
    text-align: center;
    padding-top: 20rem;
    text-transform: uppercase;
    margin-bottom: 8rem;
}
.detail{
    font-size:1.4rem;
    color: $primaryColor;
    margin:unset;
    text-align: center;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    user-select: none;
     @media screen and (max-width:$breakpoint-mobileP) {
        font-size: 1.2rem;
        letter-spacing: .3rem;
        
    }
     @media screen and (max-width:$breakpoint-mobileL) {
        font-size: 1rem;
        letter-spacing: .2rem;
        
    }
}