@import "../abstract/variables.scss";
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3.5rem;
  padding-bottom: 20rem;
}
.time {
  font-size: 8rem;
  color: $secondaryColor;
  text-align: center;
  width: 15rem;
  background-color: $Darkdesaturated;
  border-radius: 1rem;
  margin-bottom: 2rem;
  height: 13rem;
  box-shadow:0 1rem  $VerydarkPurple ;
  position:relative;
  user-select: none;
  display:flex;
  justify-content:center;
  align-items:center;
   @media screen and (max-width:$breakpoint-tablet) {
    font-size: 6rem;
    width: 10rem;
    height: 10rem;   
  }
   @media screen and (max-width:$breakpoint-mobileP) {
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
      
  }
   @media screen and (max-width:$breakpoint-mobileL) {
 
      font-size: 2rem;
      width: 6rem;
      height: 6rem;
  }

}
.line{

    background-color: black;
    display: block;
    width: 100%;
    position:absolute;
    top: 50%;
}